body{
    margin:0; 
    background-image:url("images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}   

.todo{
    color:rgb(199, 187, 204);
}

.container{
    background-color: rgb(137, 173, 221);
    min-height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.task-area{
    border: 1px solid lightgrey;
    margin-top: 2em;
}

.task-tabs{
    display: flex;
    border-bottom: 1px solid lightgrey;
    position:relative;
}

.task-tabs div{
    padding: 1em;
    cursor:pointer; 
}

#under-line{
    height: 4px;
    background-color: rgb(229, 203, 145);
    position: absolute; 
    width: 86px;
    left: 0px;
    top: 76px;
    padding: 0px; 
}

.task{
    display: flex;
    justify-content: space-between; 
    padding: 1em;
}

.task-done {
    text-decoration: line-through;
    background-color: rgb(231, 168, 194);
    transition: 0.5s;
  }
